@using IdentityChatEmail.Entities
@model Message

@{
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}


<h2>Yeni Mesaj Oluşturma Sayfası</h2>

<div class="email-right-box">


    <form method="post" onsubmit="sendAlert()">
        <div class="compose-content mt-5">

            <div class="form-group">
                <input type="text" asp-for="ReceiverEmail" class="form-control bg-transparent" placeholder="  Mail Adresi">
            </div>

          @*   <div class="form-group">
                <input type="text" asp-for="" class="form-control bg-transparent" placeholder="  Adı Soyadı">
            </div> *@

            <div class="form-group">
                <input type="text" asp-for="Subject" class="form-control bg-transparent" placeholder=" Konu">
            </div>
            <div class="form-group">
                <textarea class="textarea_editor form-control bg-light" asp-for="MessageDetail" rows="15" placeholder="Mesaj Detayı"></textarea>
            </div>
            <button class="btn btn-outline-success" type="submit">Gönder</button>
        </div>

    </form>
</div>


<script>
    function sendAlert() {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "Mesajınız başarıyla gönderildi",
        showConfirmButton: false,
        timer:1500
      });
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
