@using IdentityChatEmail.Entities
@model Message

@{
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}


<h2>Yeni Mesaj Oluşturma Sayfası</h2>

<div class="conteiner">
    <br />
    <br />

    <form method="post">
        
        <label>Alıcı Email</label>
        <input type="text" asp-for="ReceiverEmail" class="form-control" />
        <br>
        <label>Konu</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <br>
        <label>Mesaj Detayları</label>
        <input type="text" asp-for="MessageDetail" class="form-control" />
        <br>
        <button class="btn btn-primary">Mesajı Gönder</button>
    </form>

</div>

